<div class="container" id="dashboard-element">
    <div class="card-wrapper">
        <div class="card">
            <table>
                <tr>
                    <td class="user-card">
                        <img src="/public/img/abc.png" alt="user-img" class="profile-pic">
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4><%= user.name %></h4>
                        <h5><%= user.city %>, <%= user.state %>,<%= user.country %></h5>
                    </td>
                </tr> 
            </table>


        </div>
        <div class="card">
            <table class="card-info-table">
                <tr>
                    <td>
                        <h4>Mobile</h4>
                        <h5><%= user.mobileno %></h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Blood group</h4>
                        <h5><%= user.bloodgroup %></h5>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4>Email</h4>
                        <h5><%= user.email %></h5>
                    </td>
                </tr>
            </table>
        </div>



        <div class="card" style=" display: none;">
            <div class="chart-container">


                <div class="box1">
                    <div class="chart1" data-percent="33"></div>
                </div>
                <div class="box2">
                    <div class="chart2" data-percent="50"></div>
                </div>
                <div class="box3">
                    <div class="chart3" data-percent="75"></div>
                </div>
                <div class="stats-table">
                    <table>
                        <tr>
                            <td>
                                <div class="ch1-color"></div>donated
                            </td>
                            <td>
                                <div class="ch2-color"></div>shared
                            </td>
                            <td>
                                <div class="ch3-color"></div>profile
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>



        <div class="card-table" style=" display: none;">
            <div class="table-container">

                <table id="dashboardTable" class="table">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Mobile</th>
                            <th>Report</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-lable="Name">Anand Kumar</td>
                            <td data-lable="Mobile">9898076756</td>
                            <td data-lable="Report"><input type="button" value="Go" class="tbl-btn"></td>
                        </tr>
                        <tr>
                            <td data-lable="Name">Anand Kumar</td>
                            <td data-lable="Mobile">9898076756</td>
                            <td data-lable="Report"><input type="button" value="Go" class="tbl-btn"></td>
                        </tr>
                        <tr>
                            <td data-lable="Name">Anand Kumar</td>
                            <td data-lable="Mobile">9898076756</td>
                            <td data-lable="Report"><input type="button" value="Go" class="tbl-btn"></td>
                        </tr>
                        <tr>
                            <td data-lable="Name">Anand Kumar</td>
                            <td data-lable="Mobile">9898076756</td>
                            <td data-lable="Report"><input type="button" value="Go" class="tbl-btn"></td>
                        </tr>
                        <tr>
                            <td data-lable="Name">Anand Kumar</td>
                            <td data-lable="Mobile">9898076756</td>
                            <td data-lable="Report"><input type="button" value="Go" class="tbl-btn"></td>
                        </tr>
                        <tr>
                            <td data-lable="Name">Anand Kumar</td>
                            <td data-lable="Mobile">9898076756</td>
                            <td data-lable="Report"><input type="button" value="Go" class="tbl-btn"></td>
                        </tr>
                        <tr>
                            <td data-lable="Name">Anand Kumar</td>
                            <td data-lable="Mobile">9898076756</td>
                            <td data-lable="Report"><input type="button" value="Go" class="tbl-btn"></td>
                        </tr>
                        <tr>
                            <td data-lable="Name">Anand Kumar</td>
                            <td data-lable="Mobile">9898076756</td>
                            <td data-lable="Report"><input type="button" value="Go" class="tbl-btn"></td>
                        </tr>
                        <tr>
                            <td data-lable="Name">Prakash Kumar</td>
                            <td data-lable="Mobile">9898076756</td>
                            <td data-lable="Report"><input type="button" value="Go" class="tbl-btn"></td>
                        </tr>
                        <tr>
                            <td data-lable="Name">Abhishek Kumar</td>
                            <td data-lable="Mobile">9898076756</td>
                            <td data-lable="Report"><input type="button" value="Go" class="tbl-btn"></td>
                        </tr>
                        <tr>
                            <td data-lable="Name">ananya Kumar</td>
                            <td data-lable="Mobile">9898076756</td>
                            <td data-lable="Report"><input type="button" value="Go" class="tbl-btn"></td>
                        </tr>
                        <tr>
                            <td data-lable="Name">utkarsh Kumar</td>
                            <td data-lable="Mobile">9898076756</td>
                            <td data-lable="Report"><input type="button" value="Go" class="tbl-btn"></td>
                        </tr>

                        <tr>
                            <td data-lable="Name">Anand Kumar</td>
                            <td data-lable="Mobile">9898076756</td>
                            <td data-lable="Report"><input type="button" value="Go" class="tbl-btn"></td>
                        </tr>


                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>